(
  resources: {},
  entities: {
    4294967058: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Inherited,
        "bevy_ecs::hierarchy::ChildOf": (141733920595),
        "bevy_ecs::name::Name": "Inspector Wall",
        "bevy_transform::components::global_transform::GlobalTransform": ((1.125586, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 504.69922, 309.69534, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (504.69922, 309.69534, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.125586, 1.0, 1.0),
        ),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 200.0,
          y_length: 25.0,
        )),
        "shplat::level::Wall": (),
      },
    ),
    4294967060: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (141733920595),
        "bevy_ecs::name::Name": "Left Wall",
        "bevy_transform::components::global_transform::GlobalTransform": ((0.99589837, 0.0, 0.0, -0.0, -0.09765636, -0.0, 0.0, 0.0, 1.0, 599.79297, 361.16797, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (599.79297, 361.16797, 0.0),
          rotation: (0.0, 0.0, 1.0, 0.0),
          scale: (0.99589837, -0.09765636, 1.0),
        ),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 25.0,
          y_length: 720.0,
        )),
        "shplat::level::Wall": (),
      },
    ),
    4294967062: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (141733920595),
        "bevy_ecs::name::Name": "Left Wall",
        "bevy_transform::components::global_transform::GlobalTransform": ((0.99589837, 0.0, 0.0, -0.0, -0.09765636, -0.0, 0.0, 0.0, 1.0, 402.56638, 356.9961, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (402.56638, 356.9961, 0.0),
          rotation: (0.0, 0.0, 1.0, 0.0),
          scale: (0.99589837, -0.09765636, 1.0),
        ),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 25.0,
          y_length: 720.0,
        )),
        "shplat::level::Wall": (),
      },
    ),
    4294967064: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (141733920595),
        "bevy_ecs::name::Name": "Left Wall",
        "bevy_transform::components::global_transform::GlobalTransform": ((0.99589837, 0.0, 0.0, -0.0, -0.09765636, -0.0, 0.0, 0.0, 1.0, 530.41016, 409.35556, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (530.41016, 409.35556, 0.0),
          rotation: (0.0, 0.0, 1.0, 0.0),
          scale: (0.99589837, -0.09765636, 1.0),
        ),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 25.0,
          y_length: 720.0,
        )),
        "shplat::level::Wall": (),
      },
    ),
    4294967066: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (141733920595),
        "bevy_ecs::name::Name": "Left Wall",
        "bevy_transform::components::global_transform::GlobalTransform": ((0.99589837, 0.0, 0.0, -0.0, -0.09765636, -0.0, 0.0, 0.0, 1.0, 470.67575, 408.75003, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (470.67575, 408.75003, 0.0),
          rotation: (0.0, 0.0, 1.0, 0.0),
          scale: (0.99589837, -0.09765636, 1.0),
        ),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 25.0,
          y_length: 720.0,
        )),
        "shplat::level::Wall": (),
      },
    ),
    4294967069: (
      components: {
        "avian2d::collision::collider::Sensor": (),
        "avian2d::collision::collision_events::CollisionEventsEnabled": (),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (141733920595),
        "bevy_transform::components::global_transform::GlobalTransform": ((-0.31486613, 0.0, 0.0, 0.0, 10.439845, 0.0, 0.0, 0.0, 1.0, -382.8711, -59.789047, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (-382.8711, -59.789047, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (0.31486613, -10.439845, 1.0),
        ),
        "shplat::level::KillBox": (),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 128.0,
          y_length: 25.0,
        )),
      },
    ),
    4294967071: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (141733920595),
        "bevy_ecs::name::Name": "Inspector Wall",
        "bevy_transform::components::global_transform::GlobalTransform": ((-2.3435352, 0.0, 0.0, 0.0, 10.45599, 0.0, 0.0, 0.0, 1.0, 54.711, -61.980507, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (54.711, -61.980507, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (2.3435352, -10.45599, 1.0),
        ),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 200.0,
          y_length: 25.0,
        )),
        "shplat::level::Wall": (),
      },
    ),
    77309411109: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Dynamic,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::Children": ([
          111669149486,
        ]),
        "bevy_ecs::name::Name": "Player",
        "bevy_transform::components::global_transform::GlobalTransform": ((1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -601.1781, 459.6935, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (-601.17145, 459.6935, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
        "shplat::level::Serialize": (),
        "shplat::player::Player": (),
      },
    ),
    111669149486: (
      components: {
        "bevy_ecs::hierarchy::ChildOf": (77309411109),
        "bevy_ecs::name::Name": "Assault Rifle",
        "shplat::level::Serialize": (),
        "shplat::weapon::AssaultRifle": (),
        "shplat::weapon::MaxAmmo": (3),
        "shplat::weapon::SelectedWeapon": (),
      },
    ),
    120259084109: (
      components: {
        "avian2d::collision::collider::Sensor": (),
        "avian2d::collision::collision_events::CollisionEventsEnabled": (),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_transform::components::global_transform::GlobalTransform": ((4.9797654, 0.0, 0.0, -0.0, -13.230855, -0.0, 0.0, 0.0, 1.0, -779.8906, -60.01561, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (-779.8906, -60.01561, 0.0),
          rotation: (0.0, 0.0, -1.0, 0.0),
          scale: (4.9797654, -13.230855, 1.0),
        ),
        "shplat::level::KeyOf": (137438953269),
        "shplat::level::MustDestroy": (),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 20.0,
          y_length: 20.0,
        )),
      },
    ),
    128849018676: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (141733920595),
        "bevy_ecs::name::Name": "Inspector Wall",
        "bevy_transform::components::global_transform::GlobalTransform": ((-0.8918943, 0.0, 0.0, 0.0, 51.6185, 0.0, 0.0, 0.0, 1.0, -920.9568, -3.177765, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (-920.9568, -3.177765, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (0.8918943, -51.6185, 1.0),
        ),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 200.0,
          y_length: 25.0,
        )),
        "shplat::level::Wall": (),
      },
    ),
    128849018712: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (141733920595),
        "bevy_ecs::name::Name": "Inspector Wall",
        "bevy_transform::components::global_transform::GlobalTransform": ((-2.3435352, 0.0, 0.0, 0.0, 18.573969, 0.0, 0.0, 0.0, 1.0, -596.73047, -419.21487, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (-596.73047, -419.21487, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (2.3435352, -18.573969, 1.0),
        ),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 200.0,
          y_length: 25.0,
        )),
        "shplat::level::Wall": (),
      },
    ),
    133143985984: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (141733920595),
        "bevy_ecs::name::Name": "Bottom Wall",
        "bevy_transform::components::global_transform::GlobalTransform": ((-1.4278126, 0.0, 0.0, 0.0, 1.303125, 0.0, 0.0, 0.0, 1.0, -126.25394, -665.5508, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (-126.25394, -665.5508, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.4278126, -1.303125, 1.0),
        ),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 1280.0,
          y_length: 25.0,
        )),
        "shplat::level::Wall": (),
      },
    ),
    133143985995: (
      components: {
        "avian2d::collision::collider::Sensor": (),
        "avian2d::collision::collision_events::CollisionEventsEnabled": (),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (141733920595),
        "bevy_transform::components::global_transform::GlobalTransform": ((1.3910755, 0.0, 0.0, 0.0, 0.8449209, 0.0, 0.0, 0.0, 1.0, -272.6211, -638.5938, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (-272.6211, -638.5938, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.3910755, 0.8449209, 1.0),
        ),
        "shplat::level::KillBox": (),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 128.0,
          y_length: 25.0,
        )),
      },
    ),
    133143986009: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (141733920595),
        "bevy_ecs::name::Name": "Left Wall",
        "bevy_transform::components::global_transform::GlobalTransform": ((1.0, 0.0, 0.0, -0.0, -1.7874999, -0.0, 0.0, 0.0, 1.0, 783.3867, -1.2422242, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (783.3867, -1.2422242, 0.0),
          rotation: (0.0, 0.0, 1.0, 0.0),
          scale: (1.0, -1.7874999, 1.0),
        ),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 25.0,
          y_length: 720.0,
        )),
        "shplat::level::Wall": (),
      },
    ),
    137438953269: (
      components: {
        "avian2d::collision::collider::Sensor": (),
        "avian2d::collision::collision_events::CollisionEventsEnabled": (),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_transform::components::global_transform::GlobalTransform": ((-9.187427, 0.0, -0.0, 0.0, -5.7508593, 0.0, 0.0, -0.0, 1.0, -270.26685, -570.2485, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (-270.26685, -570.2485, 0.0),
          rotation: (0.0, 0.0, -1.0, 0.0),
          scale: (9.187427, 5.7508593, 1.0),
        ),
        "shplat::level::Door": ("shotgun_2"),
        "shplat::level::Keys": ([
          120259084109,
          571230650169,
          901943131989,
        ]),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 20.0,
          y_length: 20.0,
        )),
      },
    ),
    141733920595: (
      components: {
        "bevy_camera::visibility::Visibility": Inherited,
        "bevy_ecs::hierarchy::Children": ([
          704374636375,
          1683627179854,
          700079669043,
          128849018676,
          1142461300566,
          133143985984,
          150323855194,
          133143985995,
          128849018712,
          1159641169745,
          910533066558,
          4294967071,
          4294967069,
          133143986009,
          4294967066,
          4294967064,
          4294967062,
          4294967060,
          4294967058,
        ]),
        "bevy_ecs::name::Name": "Level Geometry",
        "bevy_transform::components::global_transform::GlobalTransform": ((1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, 0.0, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
        "shplat::level::LevelGeometry": (),
        "shplat::level::Serialize": (),
      },
    ),
    150323855194: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (141733920595),
        "bevy_ecs::name::Name": "Inspector Wall",
        "bevy_transform::components::global_transform::GlobalTransform": ((-2.3435352, 0.0, 0.0, 0.0, 14.589983, 0.0, 0.0, 0.0, 1.0, -595.75, 254.82422, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (-595.75, 254.82422, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (2.3435352, -14.589983, 1.0),
        ),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 200.0,
          y_length: 25.0,
        )),
        "shplat::level::Wall": (),
      },
    ),
    571230650169: (
      components: {
        "avian2d::collision::collider::Sensor": (),
        "avian2d::collision::collision_events::CollisionEventsEnabled": (),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_transform::components::global_transform::GlobalTransform": ((4.9797654, 0.0, 0.0, -0.0, -13.378903, -0.0, 0.0, 0.0, 1.0, 240.7734, -328.0664, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (240.7734, -328.0664, 0.0),
          rotation: (0.0, 0.0, -1.0, 0.0),
          scale: (4.9797654, -13.378903, 1.0),
        ),
        "shplat::level::KeyOf": (137438953269),
        "shplat::level::MustDestroy": (),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 20.0,
          y_length: 20.0,
        )),
      },
    ),
    700079669043: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (141733920595),
        "bevy_ecs::name::Name": "Left Wall",
        "bevy_transform::components::global_transform::GlobalTransform": ((1.0, 0.0, 0.0, -0.0, -1.7874999, -0.0, 0.0, 0.0, 1.0, -1024.9883, -3.2695313, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (-1024.9883, -3.2695313, 0.0),
          rotation: (0.0, 0.0, 1.0, 0.0),
          scale: (1.0, -1.7874999, 1.0),
        ),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 25.0,
          y_length: 720.0,
        )),
        "shplat::level::Wall": (),
      },
    ),
    704374636375: (
      components: {
        "avian2d::collision::collider::Sensor": (),
        "avian2d::collision::collision_events::CollisionEventsEnabled": (),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (141733920595),
        "bevy_transform::components::global_transform::GlobalTransform": ((-0.31486613, 0.0, 0.0, 0.0, 10.439845, 0.0, 0.0, 0.0, 1.0, -156.31958, 196.61053, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (-156.31958, 196.61053, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (0.31486613, -10.439845, 1.0),
        ),
        "shplat::level::KillBox": (),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 128.0,
          y_length: 25.0,
        )),
      },
    ),
    901943131989: (
      components: {
        "avian2d::collision::collider::Sensor": (),
        "avian2d::collision::collision_events::CollisionEventsEnabled": (),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_transform::components::global_transform::GlobalTransform": ((4.9797654, 0.0, 0.0, -0.0, -13.378903, -0.0, 0.0, 0.0, 1.0, 243.125, 200.55084, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (243.125, 200.55084, 0.0),
          rotation: (0.0, 0.0, -1.0, 0.0),
          scale: (4.9797654, -13.378903, 1.0),
        ),
        "shplat::level::KeyOf": (137438953269),
        "shplat::level::MustDestroy": (),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 20.0,
          y_length: 20.0,
        )),
      },
    ),
    910533066558: (
      components: {
        "avian2d::collision::collider::Sensor": (),
        "avian2d::collision::collision_events::CollisionEventsEnabled": (),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (141733920595),
        "bevy_transform::components::global_transform::GlobalTransform": ((-0.31486613, 0.0, 0.0, 0.0, 10.439845, 0.0, 0.0, 0.0, 1.0, -159.53513, -326.1172, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (-159.53513, -326.1172, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (0.31486613, -10.439845, 1.0),
        ),
        "shplat::level::KillBox": (),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 128.0,
          y_length: 25.0,
        )),
      },
    ),
    1142461300566: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (141733920595),
        "bevy_ecs::name::Name": "Inspector Wall",
        "bevy_transform::components::global_transform::GlobalTransform": ((-2.3435352, 0.0, 0.0, 0.0, 12.45639, 0.0, 0.0, 0.0, 1.0, 57.61383, 486.59338, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (57.61383, 486.59338, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (2.3435352, -12.45639, 1.0),
        ),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 200.0,
          y_length: 25.0,
        )),
        "shplat::level::Wall": (),
      },
    ),
    1159641169745: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (141733920595),
        "bevy_ecs::name::Name": "Inspector Wall",
        "bevy_transform::components::global_transform::GlobalTransform": ((-2.3435352, 0.0, 0.0, 0.0, 7.6649756, 0.0, 0.0, 0.0, 1.0, 56.054626, -556.46875, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (56.054626, -556.46875, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (2.3435352, -7.6649756, 1.0),
        ),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 200.0,
          y_length: 25.0,
        )),
        "shplat::level::Wall": (),
      },
    ),
    1683627179854: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (141733920595),
        "bevy_ecs::name::Name": "Bottom Wall",
        "bevy_transform::components::global_transform::GlobalTransform": ((-1.4278126, 0.0, 0.0, 0.0, 1.303125, 0.0, 0.0, 0.0, 1.0, -121.69531, 660.8047, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (-121.69531, 660.8047, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.4278126, -1.303125, 1.0),
        ),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 1280.0,
          y_length: 25.0,
        )),
        "shplat::level::Wall": (),
      },
    ),
  },
)