(
  resources: {},
  entities: {
    8589934204: (
      components: {
        "avian2d::collision::collider::Sensor": (),
        "avian2d::collision::collision_events::CollisionEventsEnabled": (),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (42949672782),
        "bevy_transform::components::global_transform::GlobalTransform": ((0.2745751, 0.0, 0.0, 0.0, 0.5196288, 0.0, 0.0, 0.0, 1.0, 348.64624, 127.37187, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (348.64624, 127.37187, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (0.2745751, 0.5196288, 1.0),
        ),
        "shplat::level::KillBox": (),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 128.0,
          y_length: 25.0,
        )),
      },
    ),
    8589934205: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (42949672782),
        "bevy_ecs::name::Name": "Inspector Wall",
        "bevy_transform::components::global_transform::GlobalTransform": ((0.25067475, 0.0, 0.0, -0.0, -6.458075, -0.0, 0.0, 0.0, 1.0, 348.97247, 43.18219, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (348.97247, 43.18219, 0.0),
          rotation: (0.0, 0.0, 1.0, 0.0),
          scale: (0.25067475, -6.458075, 1.0),
        ),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 200.0,
          y_length: 25.0,
        )),
        "shplat::level::Wall": (),
      },
    ),
    17179868872: (
      components: {
        "avian2d::collision::collider::Sensor": (),
        "avian2d::collision::collision_events::CollisionEventsEnabled": (),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (42949672782),
        "bevy_transform::components::global_transform::GlobalTransform": ((5.8437214, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 253.40814, 333.9648, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (253.40814, 333.9648, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (5.8437214, 1.0, 1.0),
        ),
        "shplat::level::KillBox": (),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 128.0,
          y_length: 25.0,
        )),
      },
    ),
    17179868873: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Dynamic,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::Children": ([
          42949672767,
        ]),
        "bevy_ecs::name::Name": "Player",
        "bevy_transform::components::global_transform::GlobalTransform": ((1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -390.36078, 103.62003, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (-390.36078, 103.62003, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
        "shplat::level::Serialize": (),
        "shplat::player::Player": (),
      },
    ),
    25769803490: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (42949672782),
        "bevy_ecs::name::Name": "Bottom Wall",
        "bevy_transform::components::global_transform::GlobalTransform": ((1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, -360.0, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, -360.0, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 1280.0,
          y_length: 25.0,
        )),
        "shplat::level::Wall": (),
      },
    ),
    25769803491: (
      components: {
        "avian2d::collision::collider::Sensor": (),
        "avian2d::collision::collision_events::CollisionEventsEnabled": (),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_transform::components::global_transform::GlobalTransform": ((-3.8639548, 0.0, 0.0, 0.0, -5.4989066, 0.0, 0.0, 0.0, 1.0, 524.78906, 17.315186, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (524.78906, 17.315186, 0.0),
          rotation: (0.0, 0.0, 1.0, 0.0),
          scale: (3.8639548, 5.4989066, 1.0),
        ),
        "shplat::level::Door": ("gravity_3"),
        "shplat::level::Keys": ([
          42949672769,
        ]),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 20.0,
          y_length: 20.0,
        )),
      },
    ),
    42949672762: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (42949672782),
        "bevy_ecs::name::Name": "Inspector Wall",
        "bevy_transform::components::global_transform::GlobalTransform": ((0.7585725, 0.0, 0.0, -0.0, -3.931643, -0.0, 0.0, 0.0, 1.0, -388.15604, 31.979996, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (-388.15604, 31.979996, 0.0),
          rotation: (0.0, 0.0, 1.0, 0.0),
          scale: (0.7585725, -3.931643, 1.0),
        ),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 200.0,
          y_length: 25.0,
        )),
        "shplat::level::Wall": (),
      },
    ),
    42949672765: (
      components: {
        "avian2d::collision::collider::Sensor": (),
        "avian2d::collision::collision_events::CollisionEventsEnabled": (),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (42949672782),
        "bevy_transform::components::global_transform::GlobalTransform": ((8.590119, 0.0, 0.0, 0.0, 1.0922608, 0.0, 0.0, 0.0, 1.0, 76.13159, -335.55426, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (76.13159, -335.55426, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (8.590119, 1.0922608, 1.0),
        ),
        "shplat::level::KillBox": (),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 128.0,
          y_length: 25.0,
        )),
      },
    ),
    42949672767: (
      components: {
        "bevy_ecs::hierarchy::ChildOf": (17179868873),
        "bevy_ecs::name::Name": "Gravity Gun",
        "shplat::level::Serialize": (),
        "shplat::weapon::GravityGun": (),
        "shplat::weapon::MaxAmmo": (2),
        "shplat::weapon::SelectedWeapon": (),
      },
    ),
    42949672769: (
      components: {
        "avian2d::collision::collision_events::CollisionEventsEnabled": (),
        "avian2d::dynamics::rigid_body::RigidBody": Dynamic,
        "bevy_camera::visibility::Visibility": Inherited,
        "bevy_transform::components::global_transform::GlobalTransform": ((1.0, 0.0, -0.0, 0.0, 1.0, 0.0, 0.0, -0.0, 1.0, -575.34045, -337.5069, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (-575.34045, -337.5069, 0.0),
          rotation: (0.0, 0.0, -0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
        "shplat::level::KeyOf": (25769803491),
        "shplat::level::MustKeep": (),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 20.0,
          y_length: 20.0,
        )),
      },
    ),
    42949672770: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (42949672782),
        "bevy_ecs::name::Name": "Inspector Wall",
        "bevy_transform::components::global_transform::GlobalTransform": ((2.7661712, 0.0, 0.0, -0.0, -4.134548, -0.0, 0.0, 0.0, 1.0, 351.5379, -88.94206, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (351.5379, -88.94206, 0.0),
          rotation: (0.0, 0.0, 1.0, 0.0),
          scale: (2.7661712, -4.134548, 1.0),
        ),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 200.0,
          y_length: 25.0,
        )),
        "shplat::level::Wall": (),
      },
    ),
    42949672771: (
      components: {
        "avian2d::collision::collider::Sensor": (),
        "avian2d::collision::collision_events::CollisionEventsEnabled": (),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (42949672782),
        "bevy_transform::components::global_transform::GlobalTransform": ((0.94439894, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -566.1743, 333.03513, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (-566.1743, 333.03513, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (0.94439894, 1.0, 1.0),
        ),
        "shplat::level::KillBox": (),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 128.0,
          y_length: 25.0,
        )),
      },
    ),
    42949672772: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (42949672782),
        "bevy_ecs::name::Name": "Inspector Wall",
        "bevy_transform::components::global_transform::GlobalTransform": ((0.22099946, 0.0, 0.0, -0.0, -11.331992, -0.0, 0.0, 0.0, 1.0, -143.82465, 205.04526, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (-143.82465, 205.04526, 0.0),
          rotation: (0.0, 0.0, 1.0, 0.0),
          scale: (0.22099946, -11.331992, 1.0),
        ),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 200.0,
          y_length: 25.0,
        )),
        "shplat::level::Wall": (),
      },
    ),
    42949672773: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (42949672782),
        "bevy_ecs::name::Name": "Top Wall",
        "bevy_transform::components::global_transform::GlobalTransform": ((1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 360.0, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, 360.0, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 1280.0,
          y_length: 25.0,
        )),
        "shplat::level::Wall": (),
      },
    ),
    42949672774: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (42949672782),
        "bevy_ecs::name::Name": "Inspector Wall",
        "bevy_transform::components::global_transform::GlobalTransform": ((0.20430547, 0.0, 0.0, -0.0, -29.1297, -0.0, 0.0, 0.0, 1.0, -482.31274, 12.172241, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (-482.31274, 12.172241, 0.0),
          rotation: (0.0, 0.0, 1.0, 0.0),
          scale: (0.20430547, -29.1297, 1.0),
        ),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 200.0,
          y_length: 25.0,
        )),
        "shplat::level::Wall": (),
      },
    ),
    42949672775: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (42949672782),
        "bevy_ecs::name::Name": "Left Wall",
        "bevy_transform::components::global_transform::GlobalTransform": ((1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -640.0, 0.0, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (-640.0, 0.0, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 25.0,
          y_length: 720.0,
        )),
        "shplat::level::Wall": (),
      },
    ),
    42949672779: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (42949672782),
        "bevy_ecs::name::Name": "Right Wall",
        "bevy_transform::components::global_transform::GlobalTransform": ((1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 640.0, 0.0, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (640.0, 0.0, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 25.0,
          y_length: 720.0,
        )),
        "shplat::level::Wall": (),
      },
    ),
    42949672781: (
      components: {
        "avian2d::collision::collider::Sensor": (),
        "avian2d::collision::collision_events::CollisionEventsEnabled": (),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (42949672782),
        "bevy_transform::components::global_transform::GlobalTransform": ((0.2745751, 0.0, 0.0, 0.0, 0.5196288, 0.0, 0.0, 0.0, 1.0, -143.85547, 60.55571, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (-143.85547, 60.55571, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (0.2745751, 0.5196288, 1.0),
        ),
        "shplat::level::KillBox": (),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 128.0,
          y_length: 25.0,
        )),
      },
    ),
    42949672782: (
      components: {
        "bevy_camera::visibility::Visibility": Inherited,
        "bevy_ecs::hierarchy::Children": ([
          42949672765,
          25769803490,
          42949672775,
          42949672779,
          42949672773,
          42949672772,
          42949672781,
          42949672762,
          42949672774,
          42949672770,
          17179868872,
          42949672771,
          8589934205,
          8589934204,
        ]),
        "bevy_ecs::name::Name": "Level Geometry",
        "bevy_transform::components::global_transform::GlobalTransform": ((1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, 0.0, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
        "shplat::level::LevelGeometry": (),
        "shplat::level::Serialize": (),
      },
    ),
  },
)