(
  resources: {},
  entities: {
    8589929975: (
      components: {
        "avian2d::collision::collider::Sensor": (),
        "avian2d::collision::collision_events::CollisionEventsEnabled": (),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (47244635844),
        "bevy_transform::components::global_transform::GlobalTransform": ((0.96481407, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -3.068596, 24.871805, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (-3.068596, 24.871805, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (0.96481407, 1.0, 1.0),
        ),
        "shplat::level::KillBox": (),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 128.0,
          y_length: 25.0,
        )),
      },
    ),
    8589929976: (
      components: {
        "avian2d::collision::collider::Sensor": (),
        "avian2d::collision::collision_events::CollisionEventsEnabled": (),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (47244635844),
        "bevy_transform::components::global_transform::GlobalTransform": ((0.96481407, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 283.27295, -29.114271, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (283.27295, -29.114271, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (0.96481407, 1.0, 1.0),
        ),
        "shplat::level::KillBox": (),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 128.0,
          y_length: 25.0,
        )),
      },
    ),
    12884897274: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (47244635844),
        "bevy_ecs::name::Name": "Inspector Wall",
        "bevy_transform::components::global_transform::GlobalTransform": ((0.7085937, 0.0, 0.0, -0.0, -14.952696, -0.0, 0.0, 0.0, 1.0, -281.94653, 158.2645, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (-281.94653, 158.2645, 0.0),
          rotation: (0.0, 0.0, 1.0, 0.0),
          scale: (0.7085937, -14.952696, 1.0),
        ),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 200.0,
          y_length: 25.0,
        )),
        "shplat::level::Wall": (),
      },
    ),
    21474831960: (
      components: {
        "avian2d::collision::collider::Sensor": (),
        "avian2d::collision::collision_events::CollisionEventsEnabled": (),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (47244635844),
        "bevy_transform::components::global_transform::GlobalTransform": ((3.4507346, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -0.422863, 333.8526, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (-0.422863, 333.8526, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (3.4507346, 1.0, 1.0),
        ),
        "shplat::level::KillBox": (),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 128.0,
          y_length: 25.0,
        )),
      },
    ),
    42949668530: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (47244635844),
        "bevy_ecs::name::Name": "Inspector Wall",
        "bevy_transform::components::global_transform::GlobalTransform": ((0.7085937, 0.0, 0.0, -0.0, -4.134548, -0.0, 0.0, 0.0, 1.0, 557.4476, 104.56023, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (557.4476, 104.56023, 0.0),
          rotation: (0.0, 0.0, 1.0, 0.0),
          scale: (0.7085937, -4.134548, 1.0),
        ),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 200.0,
          y_length: 25.0,
        )),
        "shplat::level::Wall": (),
      },
    ),
    47244635844: (
      components: {
        "bevy_camera::visibility::Visibility": Inherited,
        "bevy_ecs::hierarchy::Children": ([
          554050780022,
          738734374718,
          253403067279,
          330712479111,
          257698034593,
          42949668530,
          12884897274,
          214748361380,
          352187315717,
          708669603538,
          541165878044,
          21474831960,
          489626270221,
          545460845376,
          657129995663,
          8589929976,
          8589929975,
        ]),
        "bevy_ecs::name::Name": "Level Geometry",
        "bevy_transform::components::global_transform::GlobalTransform": ((1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, 0.0, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
        "shplat::level::LevelGeometry": (),
        "shplat::level::Serialize": (),
      },
    ),
    214748361380: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (47244635844),
        "bevy_ecs::name::Name": "Inspector Wall",
        "bevy_transform::components::global_transform::GlobalTransform": ((0.7085937, 0.0, 0.0, -0.0, -14.952696, -0.0, 0.0, 0.0, 1.0, -4.0351715, -160.40013, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (-4.0351715, -160.40013, 0.0),
          rotation: (0.0, 0.0, 1.0, 0.0),
          scale: (0.7085937, -14.952696, 1.0),
        ),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 200.0,
          y_length: 25.0,
        )),
        "shplat::level::Wall": (),
      },
    ),
    219043328695: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Dynamic,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::Children": ([
          485331302907,
        ]),
        "bevy_ecs::name::Name": "Player",
        "bevy_transform::components::global_transform::GlobalTransform": ((1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -555.7404, 180.16837, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (-555.7404, 180.16837, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
        "shplat::level::Serialize": (),
        "shplat::player::Player": (),
      },
    ),
    253403067279: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (47244635844),
        "bevy_ecs::name::Name": "Right Wall",
        "bevy_transform::components::global_transform::GlobalTransform": ((1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 640.0, 0.0, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (640.0, 0.0, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 25.0,
          y_length: 720.0,
        )),
        "shplat::level::Wall": (),
      },
    ),
    257698034593: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (47244635844),
        "bevy_ecs::name::Name": "Inspector Wall",
        "bevy_transform::components::global_transform::GlobalTransform": ((0.7085937, 0.0, 0.0, -0.0, -4.134548, -0.0, 0.0, 0.0, 1.0, -557.5642, 105.99202, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (-557.5642, 105.99202, 0.0),
          rotation: (0.0, 0.0, 1.0, 0.0),
          scale: (0.7085937, -4.134548, 1.0),
        ),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 200.0,
          y_length: 25.0,
        )),
        "shplat::level::Wall": (),
      },
    ),
    330712479111: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (47244635844),
        "bevy_ecs::name::Name": "Top Wall",
        "bevy_transform::components::global_transform::GlobalTransform": ((1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 360.0, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, 360.0, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 1280.0,
          y_length: 25.0,
        )),
        "shplat::level::Wall": (),
      },
    ),
    352187315717: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (47244635844),
        "bevy_ecs::name::Name": "Inspector Wall",
        "bevy_transform::components::global_transform::GlobalTransform": ((0.7085937, 0.0, 0.0, -0.0, -14.952696, -0.0, 0.0, 0.0, 1.0, 281.6843, 159.07732, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (281.6843, 159.07732, 0.0),
          rotation: (0.0, 0.0, 1.0, 0.0),
          scale: (0.7085937, -14.952696, 1.0),
        ),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 200.0,
          y_length: 25.0,
        )),
        "shplat::level::Wall": (),
      },
    ),
    485331302907: (
      components: {
        "bevy_ecs::hierarchy::ChildOf": (219043328695),
        "bevy_ecs::name::Name": "Gravity Gun",
        "shplat::level::Serialize": (),
        "shplat::weapon::GravityGun": (),
        "shplat::weapon::MaxAmmo": (4),
        "shplat::weapon::SelectedWeapon": (),
      },
    ),
    489626270221: (
      components: {
        "avian2d::collision::collider::Sensor": (),
        "avian2d::collision::collision_events::CollisionEventsEnabled": (),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (47244635844),
        "bevy_transform::components::global_transform::GlobalTransform": ((2.1959457, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -491.83594, 336.1349, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (-491.83594, 336.1349, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (2.1959457, 1.0, 1.0),
        ),
        "shplat::level::KillBox": (),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 128.0,
          y_length: 25.0,
        )),
      },
    ),
    541165878044: (
      components: {
        "avian2d::collision::collider::Sensor": (),
        "avian2d::collision::collision_events::CollisionEventsEnabled": (),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (47244635844),
        "bevy_transform::components::global_transform::GlobalTransform": ((4.387058, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 346.4192, -332.44452, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (346.4192, -332.44452, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (4.387058, 1.0, 1.0),
        ),
        "shplat::level::KillBox": (),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 128.0,
          y_length: 25.0,
        )),
      },
    ),
    545460845376: (
      components: {
        "avian2d::collision::collider::Sensor": (),
        "avian2d::collision::collision_events::CollisionEventsEnabled": (),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (47244635844),
        "bevy_transform::components::global_transform::GlobalTransform": ((2.1959457, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 491.20477, 335.1427, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (491.20477, 335.1427, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (2.1959457, 1.0, 1.0),
        ),
        "shplat::level::KillBox": (),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 128.0,
          y_length: 25.0,
        )),
      },
    ),
    554050780022: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (47244635844),
        "bevy_ecs::name::Name": "Bottom Wall",
        "bevy_transform::components::global_transform::GlobalTransform": ((1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, -360.0, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, -360.0, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 1280.0,
          y_length: 25.0,
        )),
        "shplat::level::Wall": (),
      },
    ),
    657129995663: (
      components: {
        "avian2d::collision::collider::Sensor": (),
        "avian2d::collision::collision_events::CollisionEventsEnabled": (),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (47244635844),
        "bevy_transform::components::global_transform::GlobalTransform": ((0.96481407, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -281.7515, -28.667755, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (-281.7515, -28.667755, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (0.96481407, 1.0, 1.0),
        ),
        "shplat::level::KillBox": (),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 128.0,
          y_length: 25.0,
        )),
      },
    ),
    708669603538: (
      components: {
        "avian2d::collision::collider::Sensor": (),
        "avian2d::collision::collision_events::CollisionEventsEnabled": (),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (47244635844),
        "bevy_transform::components::global_transform::GlobalTransform": ((4.387058, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -355.68213, -332.77585, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (-355.68213, -332.77585, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (4.387058, 1.0, 1.0),
        ),
        "shplat::level::KillBox": (),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 128.0,
          y_length: 25.0,
        )),
      },
    ),
    738734374718: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (47244635844),
        "bevy_ecs::name::Name": "Left Wall",
        "bevy_transform::components::global_transform::GlobalTransform": ((1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -640.0, 0.0, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (-640.0, 0.0, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 25.0,
          y_length: 720.0,
        )),
        "shplat::level::Wall": (),
      },
    ),
    1262720382145: (
      components: {
        "avian2d::collision::collider::Sensor": (),
        "avian2d::collision::collision_events::CollisionEventsEnabled": (),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_transform::components::global_transform::GlobalTransform": ((-3.8639548, 0.0, 0.0, 0.0, -5.4989066, 0.0, 0.0, 0.0, 1.0, 558.7283, 210.61298, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (558.7283, 210.61298, 0.0),
          rotation: (0.0, 0.0, 1.0, 0.0),
          scale: (3.8639548, 5.4989066, 1.0),
        ),
        "shplat::level::Door": ("gravity_4"),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 20.0,
          y_length: 20.0,
        )),
      },
    ),
  },
)