(
  resources: {},
  entities: {
    30064770918: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Dynamic,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::name::Name": "Player",
        "bevy_transform::components::global_transform::GlobalTransform": ((1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -492.70145, -57.14844, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (-492.70145, -57.14844, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
        "shplat::Serialize": (),
        "shplat::player::Player": (),
        "shplat::weapon::Shotgun": (),
      },
    ),
    30064770940: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Inherited,
        "bevy_ecs::hierarchy::ChildOf": (317827579770),
        "bevy_ecs::name::Name": "Floor Right",
        "bevy_transform::components::global_transform::GlobalTransform": ((1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -560.32837, -92.142944, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (-560.32837, -92.142944, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
        "shplat::Serialize": (),
        "shplat::SerializedColliderConstructor": (Rectangle(
          x_length: 960.0,
          y_length: 25.0,
        )),
        "shplat::Wall": (),
      },
    ),
    30064770941: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Inherited,
        "bevy_ecs::hierarchy::ChildOf": (317827579770),
        "bevy_ecs::name::Name": "Bottom Wall",
        "bevy_transform::components::global_transform::GlobalTransform": ((1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, -360.0, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, -360.0, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
        "shplat::Serialize": (),
        "shplat::SerializedColliderConstructor": (Rectangle(
          x_length: 1280.0,
          y_length: 25.0,
        )),
        "shplat::Wall": (),
      },
    ),
    30064770943: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Inherited,
        "bevy_ecs::hierarchy::ChildOf": (317827579770),
        "bevy_ecs::name::Name": "Right Wall",
        "bevy_transform::components::global_transform::GlobalTransform": ((1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 640.0, 0.0, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (640.0, 0.0, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
        "shplat::Serialize": (),
        "shplat::SerializedColliderConstructor": (Rectangle(
          x_length: 25.0,
          y_length: 720.0,
        )),
        "shplat::Wall": (),
      },
    ),
    30064770944: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Inherited,
        "bevy_ecs::hierarchy::ChildOf": (317827579770),
        "bevy_ecs::name::Name": "Left Wall",
        "bevy_transform::components::global_transform::GlobalTransform": ((1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -640.0, 0.0, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (-640.0, 0.0, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
        "shplat::Serialize": (),
        "shplat::SerializedColliderConstructor": (Rectangle(
          x_length: 25.0,
          y_length: 720.0,
        )),
        "shplat::Wall": (),
      },
    ),
    30064770947: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Inherited,
        "bevy_ecs::hierarchy::ChildOf": (317827579770),
        "bevy_ecs::name::Name": "Floor Left",
        "bevy_transform::components::global_transform::GlobalTransform": ((1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 459.87622, 88.749084, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (459.87622, 88.749084, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
        "shplat::Serialize": (),
        "shplat::SerializedColliderConstructor": (Rectangle(
          x_length: 960.0,
          y_length: 25.0,
        )),
        "shplat::Wall": (),
      },
    ),
    317827579770: (
      components: {
        "bevy_camera::visibility::Visibility": Inherited,
        "bevy_ecs::hierarchy::Children": ([
          30064770947,
          30064770940,
          30064770941,
          30064770944,
          30064770943,
          317827579778,
        ]),
        "bevy_ecs::name::Name": "Level Geometry",
        "bevy_transform::components::global_transform::GlobalTransform": ((1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, 0.0, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
        "shplat::Serialize": (),
      },
    ),
    317827579778: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Inherited,
        "bevy_ecs::hierarchy::ChildOf": (317827579770),
        "bevy_ecs::name::Name": "Top Wall",
        "bevy_transform::components::global_transform::GlobalTransform": ((1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 360.0, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, 360.0, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
        "shplat::Serialize": (),
        "shplat::SerializedColliderConstructor": (Rectangle(
          x_length: 1280.0,
          y_length: 25.0,
        )),
        "shplat::Wall": (),
      },
    ),
  },
)