(
  resources: {},
  entities: {
    94489280305: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (115964116807),
        "bevy_ecs::name::Name": "Left Wall",
        "bevy_transform::components::global_transform::GlobalTransform": ((1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -640.0, 0.0, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (-640.0, 0.0, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 25.0,
          y_length: 720.0,
        )),
        "shplat::level::Wall": (),
      },
    ),
    98784247590: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (115964116807),
        "bevy_ecs::name::Name": "Inspector Wall",
        "bevy_transform::components::global_transform::GlobalTransform": ((-2.1368046, 0.0, 0.0, 0.0, 14.589983, 0.0, 0.0, 0.0, 1.0, 413.7121, -165.70538, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (413.7121, -165.70538, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (2.1368046, -14.589983, 1.0),
        ),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 200.0,
          y_length: 25.0,
        )),
        "shplat::level::Wall": (),
      },
    ),
    98784247594: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (115964116807),
        "bevy_ecs::name::Name": "Right Wall",
        "bevy_transform::components::global_transform::GlobalTransform": ((1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 640.0, 0.0, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (640.0, 0.0, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 25.0,
          y_length: 720.0,
        )),
        "shplat::level::Wall": (),
      },
    ),
    103079214922: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (115964116807),
        "bevy_ecs::name::Name": "Bottom Wall",
        "bevy_transform::components::global_transform::GlobalTransform": ((1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, -360.0, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, -360.0, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 1280.0,
          y_length: 25.0,
        )),
        "shplat::level::Wall": (),
      },
    ),
    103079214927: (
      components: {
        "avian2d::collision::collider::Sensor": (),
        "avian2d::collision::collision_events::CollisionEventsEnabled": (),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (115964116807),
        "bevy_transform::components::global_transform::GlobalTransform": ((4.746786, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.8405762, -332.90118, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (0.8405762, -332.90118, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (4.746786, 1.0, 1.0),
        ),
        "shplat::level::KillBox": (),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 128.0,
          y_length: 25.0,
        )),
      },
    ),
    103079214934: (
      components: {
        "avian2d::collision::collider::Sensor": (),
        "avian2d::collision::collision_events::CollisionEventsEnabled": (),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Inherited,
        "bevy_transform::components::global_transform::GlobalTransform": ((1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -602.7124, 37.89569, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (-602.7124, 37.89569, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
        "shplat::level::KeyOf": (111669149502),
        "shplat::level::MustDestroy": (),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 20.0,
          y_length: 20.0,
        )),
      },
    ),
    111669149502: (
      components: {
        "avian2d::collision::collider::Sensor": (),
        "avian2d::collision::collision_events::CollisionEventsEnabled": (),
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_transform::components::global_transform::GlobalTransform": ((-3.8639548, 0.0, 0.0, 0.0, -5.4989066, 0.0, 0.0, 0.0, 1.0, 460.1787, 73.364624, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (460.1787, 73.364624, 0.0),
          rotation: (0.0, 0.0, 1.0, 0.0),
          scale: (3.8639548, 5.4989066, 1.0),
        ),
        "shplat::level::Door": ("gravity_1"),
        "shplat::level::Keys": ([
          103079214934,
        ]),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 20.0,
          y_length: 20.0,
        )),
      },
    ),
    115964116807: (
      components: {
        "bevy_camera::visibility::Visibility": Inherited,
        "bevy_ecs::hierarchy::Children": ([
          103079214927,
          103079214922,
          94489280305,
          98784247594,
          554050780995,
          1120986464054,
          98784247590,
        ]),
        "bevy_ecs::name::Name": "Level Geometry",
        "bevy_transform::components::global_transform::GlobalTransform": ((1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, 0.0, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
        "shplat::level::LevelGeometry": (),
        "shplat::level::Serialize": (),
      },
    ),
    554050780995: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (115964116807),
        "bevy_ecs::name::Name": "Top Wall",
        "bevy_transform::components::global_transform::GlobalTransform": ((1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 360.0, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, 360.0, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 1280.0,
          y_length: 25.0,
        )),
        "shplat::level::Wall": (),
      },
    ),
    1120986464054: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Static,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::ChildOf": (115964116807),
        "bevy_ecs::name::Name": "Inspector Wall",
        "bevy_transform::components::global_transform::GlobalTransform": ((-2.1368046, 0.0, 0.0, 0.0, 14.589983, 0.0, 0.0, 0.0, 1.0, -410.18994, -162.87961, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (-410.18994, -162.87961, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (2.1368046, -14.589983, 1.0),
        ),
        "shplat::level::Serialize": (),
        "shplat::level::SerializedColliderConstructor": (Rectangle(
          x_length: 200.0,
          y_length: 25.0,
        )),
        "shplat::level::Wall": (),
      },
    ),
    1120986464083: (
      components: {
        "avian2d::dynamics::rigid_body::RigidBody": Dynamic,
        "bevy_camera::visibility::Visibility": Visible,
        "bevy_ecs::hierarchy::Children": ([
          1125281431368,
        ]),
        "bevy_ecs::name::Name": "Player",
        "bevy_transform::components::global_transform::GlobalTransform": ((1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, -416.86972, 41.98968, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (-416.86972, 41.98968, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
        "shplat::level::Serialize": (),
        "shplat::player::Player": (),
      },
    ),
    1125281431368: (
      components: {
        "bevy_ecs::hierarchy::ChildOf": (1120986464083),
        "bevy_ecs::name::Name": "Shotgun",
        "shplat::level::Serialize": (),
        "shplat::weapon::MaxAmmo": (2),
        "shplat::weapon::SelectedWeapon": (),
        "shplat::weapon::Shotgun": (),
      },
    ),
  },
)